section.foot#footer
	div.container
		div.container.col-md-12.clearfix#fixed
			p.left Do you like this post?
				span.active Yes
				span No
			p.right more post
		div.container.col-md-7
			div.prev-post.col-md-6
				h6 previous post
				a(href="#") 5 Reasons You'll LOVE the Awakening Hope Youth Retreat!!
			div.next-post.col-md-6
				h6 next post
				a(href="#") 5 Reasons You'll LOVE the Awakening Hope Youth Retreat!!