section.post
	a.arrows.prev(style="background-image:url(../images/post-img@2x.png)")
		div.prev-page
		p.post-title Testing please see this bro Testing please see this bro
	a.arrows.next(style="background-image:url(../images/post-img@2x.png)")
		div.next-page
		p.post-title Testing please see this bro Testing please see this bro
	div.container
		p The Awakening Hope Youth Retreat, July 24-26, is fast approaching! Summers are busy, though, and you may be wondering why you should sign up for one more summer activity. Well, here are 5 great reasons to sign up for Awakening Hope today!
		ul

			li 
				h6 1. Make new pro-life friends
				p This weekend is for YOU. A chance for you to get to know others that are passionate about the pro-life cause, and who want to make a difference. Roe v Wade will come to an end because of the young generation today!! Meet others who are a part of that generation and strengthen your efforts together!
			li
				h6 2. Be more effective in pro-life work
				p Learn how to be a stronger leader and be more active in your school and community through workshops and speakers. Local activists and other experienced pro-lifers will share their knowledge and tips with you.
			li
				h6 3. Great Location
				p Enjoy a weekend away at the beautiful St. Vincent Pallotti center! Located in Elkhorn, WI, the retreat center is surrounded by peaceful nature trails and fresh air. Enjoy time outside, or inside of the cozy retreat center,        complete with comfy couches and a calming atmosphere.  (pictures?)
			li
				h6 4. FREE awesome pro-life tee!
				p Get a free pro-life t-shirt of your choice to witness to life in your daily life. Check out your options here: http://blog.prolifewisconsin.org/2015/03/04/yolo-get-your-pro-life-wisconsin-t-shirts/
			li
				h6 5. Explore your faith
				p Whether you come from an active faith life or not, this retreat will offer opportunities for prayer and a better understanding of God’s relationship with you, and His important role in our pro-life work.

	div.cta
		div.container
			h6 Call to action here
			p Action | Volunter | Email | Events | Products Fundraiser | Share | Donate

	ul.tags
		div.container Tags:
			li Tags
			li Tags
			li Tags
			li Tags

	div.comments
		div.container
			div.hold
				p.active add comments
				p all comments

	form.comments-form
		div.container
			div.form-hold
				div.formgroup.col-md-6
					label First Name
					input(type="text" placeholder="Enter here...")
				div.formgroup.col-md-6
					label Email Address
					input(type="email" placeholder="Enter here...")
			div.formgroup.comment-area
				label Your Comment
				textarea(type="text" placeholder="Enter here").col-md-11
			input(type="submit").btn-green
