aside.social
	p share
	div.links
		a(href="#").facebook
			img(src="../images/facebook@2x.png")
		a(href="#").twitter
			img(src="../images/twitter@2x.png")
		a(href="#").google-plus
			img(src="../images/google-plus@2x.png")
		a(href="#").linkedin
			img(src="../images/linkedin@2x.png")