section.header
	div.title
		a.tag.col-md-2.col-xs-12 category tag
		div.container
			h6 5 Reason You'll LOVE the Awakening Hope Youth Retreat!!
			hr 
			a(href="#").author By 
				span Randy Wiafe 
				span | June 4, 2015